name: lint
on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - "src/**"
      - "scripts/**"
      - "tests/**"
      - ".github/workflows/lint.yaml"
  pull_request:
    paths:
      - "src/**"
      - "scripts/**"
      - "tests/**"
      - ".github/workflows/lint.yaml"
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v4
        with:
          version: "0.4.11"
          enable-cache: true
      - run: uv python install 3.12
      - run: uv sync --extra dev
      - run: uv run ruff check .
      - run: uv run ruff format --check --diff .
