name: test
on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
jobs:
  pytest:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v2
        with:
          version: "0.4.4"
          enable-cache: true
      - run: uv python install 3.12
      - run: uv sync --extra dev
      # TODO: figure out why `pytest` doesn't discover tests in `faster_whisper_server` directory by itself
      - run: uv run pytest src/faster_whisper_server/* tests
  test-docker-runs-on-arm:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - run: docker build --tag faster-whisper-server --file Dockerfile.cpu --platform linux/arm64 .
      - run: docker run --rm --detach faster-whisper-server
      - run: docker ps
      - run: uname -m
      - run: curl http://localhost:8000/v1/audio/transcriptions -F "file=@audio.wav"
